MYSQL_HOST=
MYSQL_PORT=3306
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
AUTH_SECRET=
APP_ALLOWED_ORIGINS=
ENABLE_DEMO_DATA=false
BANK_TOKEN_ENCRYPTION_KEY=
GOCARDLESS_SECRET_ID=
GOCARDLESS_SECRET_KEY=
GOCARDLESS_BASE_URL=https://bankaccountdata.gocardless.com/api/v2
GOCARDLESS_REDIRECT_URI=
